{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
  <div class="layui-card-header">修改列表</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post" action="">
            <div class="layui-form-item">
                <label class="layui-form-label">栏目</label>
                <div class="layui-input-inline">
                    <select name="classid" lay-verify="required" lay-search="">
                      <option value="">请选择所属栏目</option>
                      {volist name="infoclass" id="vo"}
                      <option value="{$vo.id}" {if condition="$vo.infotype neq 2"} disabled=""{/if} {if condition="$edit.classid eq $vo.id"} selected="" {/if}>{$vo.classname}</option>
                      {/volist}
                    </select>
                </div>
                <div class="layui-form-mid layui-word-aux">带<span style="color: red">*</span>号表示为必填项</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文章标题</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" name="title" value="{$edit.title}" placeholder="文章标题">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">属性</label>
                <div class="layui-input-inline">
                  <input type="checkbox" name="flag[]" lay-skin="primary" title="头条[h]" value="h" {if condition="in_array('h',$edit.flag)"} checked=""{/if}>
                  <input type="checkbox" name="flag[]" lay-skin="primary" title="推荐[c]" value="c" {if condition="in_array('c',$edit.flag)"} checked=""{/if}>
                  <input type="checkbox" name="flag[]" lay-skin="primary" title="特荐[a]" value="a" {if condition="in_array('a',$edit.flag)"} checked=""{/if}>
                  <input type="checkbox" name="flag[]" lay-skin="primary" title="幻灯[f]" value="f" {if condition="in_array('f',$edit.flag)"} checked=""{/if}>
                  <input type="checkbox" name="flag[]" lay-skin="primary" title="滚动[s]" value="s" {if condition="in_array('s',$edit.flag)"} checked=""{/if}>
                  <input type="checkbox" name="flag[]" lay-skin="primary" title="跳转[j]" value="j" {if condition="in_array('j',$edit.flag)"} checked=""{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">文章来源</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="source" value="{$edit.source}" placeholder="文章来源">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">作者编辑</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="author" value="{$edit.author}" placeholder="作者编辑">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">跳转链接</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="linkurl" value="{$edit.linkurl}" placeholder="跳转链接">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">关键词</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="keywords" value="{$edit.keywords}" placeholder="关键词">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">摘要</label>
                <div class="layui-input-inline">
                  <textarea class="layui-textarea" name="description" placeholder="摘要">{$edit.description}</textarea>
                </div>
                <div class="layui-form-mid layui-word-aux">最多输入255字符</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">内容</label>
                <div class="layui-input-inline">
                    <textarea class="layui-textarea" id="editor_id" name="content" placeholder="内容">{$edit.content}</textarea>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">宽度</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="widths" id="widths" value="{$edit.widths}" placeholder="宽度">
                </div>
                <div class="layui-form-mid layui-word-aux">px</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">高度</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="heights" id="heights" value="{$edit.heights}" placeholder="高度">
                </div>
                <div class="layui-form-mid layui-word-aux">px</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">添加水印</label>
                <div class="layui-input-inline">
                  <input type="checkbox" title="添加水印" lay-filter="watermark">
                  <input type="hidden" id="watermark">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">缩略图</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="test1">上传缩略图</button>
                    <div class="layui-upload-list">
                        <input type="hidden" id="picurl" name="picurl">
                        <img class="layui-upload-img" style="width: 100px" id="demo1" src="{$edit.picurl}">
                        <p id="demoText"></p>
                    </div>
                    <div id="bs"></div>
                </div>
                <div class="layui-form-mid layui-word-aux">添加了宽度和高度自动生成从中间剪切的缩略图</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">组图</label>
                <div class="layui-upload">
                  <button type="button" class="layui-btn" id="test2">多图片上传</button> 
                  <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
                    预览图：
                    <div class="layui-upload-list" id="demo2">{if condition="$edit.picarr"}{volist name="$edit.picarr" id="vo"}<img src="{$vo}" class="layui-upload-img" style="width:100px">{/volist}{/if}</div>
                    <div class="layui-upload-list" id="demo3"></div>
                 </blockquote>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">点击次数</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="hits" value="{$edit.hits}" placeholder="点击次数">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">排列排序</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" value="{$edit.orderid}" name="orderid" value="50" placeholder="排列排序">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">更新时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="posttime" value="{$time}" readonly="readonly" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">审核</label>
                <div class="layui-input-inline">
                    <input type="radio" name="checkinfo" value="true" title="是" {if condition="$edit.checkinfo eq 'true'"}checked=""{/if}>
                    <input type="radio" name="checkinfo" value="false" title="否" {if condition="$edit.checkinfo eq 'false'"}checked=""{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$edit.id}">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script charset="utf-8" src="__STATIC__/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="__STATIC__/kindeditor/lang/zh-CN.js"></script>
<script>
  KindEditor.ready(function(K) {
    window.editor = K.create('#editor_id',{
      afterBlur: function () { this.sync(); }
    });
  });
</script>
<script>
layui.use(['upload','form'], function(){
  var $ = layui.jquery
  ,upload = layui.upload
  ,form = layui.form;
  //普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: "{:url('Upload/upload')}" //改成您自己的上传接口
    ,data:{
      width: function(){
        return $('#widths').val();
      },
      height: function(){
        return $('#heights').val();
      },
      watermark: function(){
          return $('#watermark').val();
      }
    }
    ,accept:"images"
    ,acceptMime:"image/*"
    ,before: function(obj){
      layer.load(); //上传loading
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo1').attr('src', result); //图片链接（base64）
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
      $("#picurl").attr('value',res['data']['src']);
      $("#bs").html("");
      $("#bs").append('<button type="button" onclick="delImg()" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon"></i></button>');
      layer.closeAll('loading'); //关闭loading
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
      layer.closeAll('loading'); //关闭loading
    }
  }); 
  //多图片上传
  upload.render({
    elem: '#test2'
    ,url: "{:url('Upload/upload')}" //改成您自己的上传接口
    ,accept:"images"
    ,acceptMime:"image/*"
    ,multiple: true
    ,before: function(obj){
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo2').append('<img src="'+ result +'" alt="'+ file.name +'" class="layui-upload-img" style="width:100px">')
      });
    }
    ,done: function(res){
      //上传完毕
      $('#demo3').append('<input type="hidden" name="picarr[]" value="'+res['data']['src']+'">')
    }
  });  
  form.on('checkbox(watermark)', function(data){
    if(data.elem.checked)
    {
      $("#watermark").attr("value","1");
    }
    else
    {
      $("#watermark").attr("value","");
    }
  });  
});
function delImg(){
  layer.load(); //上传loading
  var picurl = $("#picurl").val();
  $.ajax({
    url:"{:url('Upload/delImg')}",
    type:"post",
    data:{picurl:picurl},
    success(e){
      if(e.code>0){
          $('#demo1').attr("src","")
          $("#picurl").attr("value","404")
          $("#bs").html("")
          layer.closeAll('loading'); //关闭loading
          layer.msg(e.msg);
        }else{
          layer.closeAll('loading'); //关闭loading
          layer.msg(e.msg);
        }
    }
  })
}  
</script>
<script>
$(function(){
  var desc = $("#demo1").attr("src");
  if(desc){
    $("#bs").append('<button type="button" onclick="delImgs()" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon"></i></button>');
  }
})
function delImgs(){
  var desc = $("#demo1").attr("src");
  layer.load(); //上传loading
  $.ajax({
    url:"{:url('Upload/delImg')}",
    type:"post",
    data:{picurl:desc},
    success(e){
      if(e.code>0){
          $('#demo1').attr("src","")
          $("#picurl").attr("value","404")
          $("#bs").html("")
          layer.closeAll('loading'); //关闭loading
          layer.msg(e.msg);
        }else{
          layer.closeAll('loading'); //关闭loading
          layer.msg(e.msg);
        }
    }
  })
}  
</script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  //日期时间选择器
  laydate.render({
    elem: '#test5'
    ,type: 'datetime'
  });
});
</script>
{/block}