{extend name="index_layout"/}
{block name="main"}
<div class="layui-card">
  <div class="layui-card-header">修改会员</div>
    <div class="layui-card-body">
        <form class="layui-form" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" name="username" value="{$edit.username}" placeholder="用户名">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像宽度</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="widths" id="widths" value="{$edit.widths}" placeholder="头像宽度">
                </div>
                <div class="layui-form-mid layui-word-aux">px</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头像高度</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="heights" id="heights" value="{$edit.heights}" placeholder="头像高度">
                </div>
                <div class="layui-form-mid layui-word-aux">px</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">头　像</label>
                <div class="layui-input-inline">
                    <button type="button" class="layui-btn" id="test1">上传</button>
                    <div class="layui-upload-list">
                        <input type="hidden" id="avatar" name="avatar">
                        <img class="layui-upload-img" style="width: 100px" id="demo1" src="{$edit.avatar}">
                        <p id="demoText"></p>
                    </div>
                    <div id="bs"></div>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密　码</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="password" placeholder="密　码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">确　认</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="repassword" placeholder="确　认">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">提　问</label>
                <div class="layui-input-inline">
                  <select name="question" lay-filter="question">
                    <option value="0"{if condition="$edit.question eq 0"} selected=""{/if}>无安全提问</option>
                    <option value="1"{if condition="$edit.question eq 1"} selected=""{/if}>母亲的名字</option>
                    <option value="2"{if condition="$edit.question eq 2"} selected=""{/if}>爷爷的名字</option>
                    <option value="3"{if condition="$edit.question eq 3"} selected=""{/if}>父亲出生的城市</option>
                    <option value="4"{if condition="$edit.question eq 4"} selected=""{/if}>你其中一位老师的名字</option>
                    <option value="5"{if condition="$edit.question eq 5"} selected=""{/if}>你个人计算机的型号</option>
                    <option value="6"{if condition="$edit.question eq 6"} selected=""{/if}>你最喜欢的餐馆名称</option>
                    <option value="7"{if condition="$edit.question eq 7"} selected=""{/if}>驾驶执照最后四位数字</option>
                  </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">回　答</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="answer" value="{$edit.answer}" placeholder="回　答">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">姓　名</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" name="cnname" value="{$edit.cnname}" placeholder="姓　名">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">英文名</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="enname" value="{$edit.enname}" placeholder="英文名">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">性　别</label>
                <div class="layui-input-inline">
                  <input type="radio" name="sex" value="0" title="男"{if condition="$edit.sex eq 0"} checked=""{/if}>
                  <input type="radio" name="sex" value="1" title="女"{if condition="$edit.sex eq 1"} checked=""{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">生　日</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" lay-verify="required" readonly="" id="test17" name="birth" value="{$edit.birth}" placeholder="生　日">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">星　座</label>
                <div class="layui-input-inline">
                  <select name="astro" lay-filter="astro" lay-verify="required">
                    <option value=""></option>
                    <option value="0"{if condition="$edit.astro eq 0"} selected=""{/if}>白羊座</option>
                    <option value="1"{if condition="$edit.astro eq 1"} selected=""{/if}>金牛座</option>
                    <option value="2"{if condition="$edit.astro eq 2"} selected=""{/if}>双子座</option>
                    <option value="3"{if condition="$edit.astro eq 3"} selected=""{/if}>巨蟹座</option>
                    <option value="4"{if condition="$edit.astro eq 4"} selected=""{/if}>狮子座</option>
                    <option value="5"{if condition="$edit.astro eq 5"} selected=""{/if}>处女座</option>
                    <option value="6"{if condition="$edit.astro eq 6"} selected=""{/if}>天枰座</option>
                    <option value="7"{if condition="$edit.astro eq 7"} selected=""{/if}>天蝎座</option>
                    <option value="8"{if condition="$edit.astro eq 8"} selected=""{/if}>射手座</option>
                    <option value="9"{if condition="$edit.astro eq 9"} selected=""{/if}>摩羯座</option>
                    <option value="10"{if condition="$edit.astro eq 10"} selected=""{/if}>水瓶座</option>
                    <option value="11"{if condition="$edit.astro eq 11"} selected=""{/if}>双鱼座</option>
                  </select>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">证件号码</label>
                <div class="layui-input-inline">
                  <select name="cardtype" lay-filter="cardtype" lay-verify="required">
                    <option value=""></option>
                    <option value="0"{if condition="$edit.cardtype eq 0"} selected=""{/if}>身份证</option>
                    <option value="1"{if condition="$edit.cardtype eq 1"} selected=""{/if}>护照</option>
                    <option value="2"{if condition="$edit.cardtype eq 2"} selected=""{/if}>驾驶证</option>
                  </select>
                  <input type="text" class="layui-input" name="cardnum" value="{$edit.cardnum}" placeholder="证件号码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">个人说明</label>
                <div class="layui-input-inline">
                  <textarea class="layui-textarea" name="intro" placeholder="个人说明">{$edit.intro}</textarea>
                </div>
                <div class="layui-form-mid layui-word-aux">最多输入255字符</div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">E-mail</label>
                <div class="layui-input-inline">
                    <input type="email" class="layui-input" name="email" value="{$edit.email}" placeholder="E-mail">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ号码</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="qqnum" value="{$edit.qqnum}" placeholder="QQ号码">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手　机</label>
                <div class="layui-input-inline">
                    <input type="tel" class="layui-input" name="mobile" value="{$edit.mobile}" placeholder="手　机">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">认证用户</label>
                <div class="layui-input-inline">
                  <input type="checkbox" name="enteruser" lay-skin="primary" title="是" value="1"{if condition="$edit.enteruser eq 1"} checked=""{/if}>
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">经验值</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="expval" value="{$edit.expval}" placeholder="经验值">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">积　分</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="integral" value="{$edit.integral}" placeholder="积　分">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">注册时间</label>
                <div class="layui-input-inline">
                    <input type="text" class="layui-input" name="regtime" value="{$edit.regtime}" readonly="readonly" id="test5" placeholder="yyyy-MM-dd HH:mm:ss">
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="{$edit.id}">
                    <button class="layui-btn" lay-submit="" lay-filter="formSubmit">立即提交</button>
                </div>
            </div>
        </form>
    </div>
</div>
{/block}
{block name="script"}
<script>
layui.use('upload', function(){
  var $ = layui.jquery
  ,upload = layui.upload;
  
  //普通图片上传
  var uploadInst = upload.render({
    elem: '#test1'
    ,url: "{:url('Upload/upload')}" //改成您自己的上传接口
    ,data:{
      width: function(){
        return $('#widths').val();
      },
      height: function(){
        return $('#heights').val();
      },
    }
    ,before: function(obj){
         layer.load(); //上传loading
      //预读本地文件示例，不支持ie8
      obj.preview(function(index, file, result){
        $('#demo1').attr('src', result); //图片链接（base64）
      });
    }
    ,done: function(res){
      //如果上传失败
      if(res.code > 0){
        return layer.msg('上传失败');
      }
      //上传成功
      $("#avatar").attr('value',res['data']['src']);
      $("#bs").html("");
      $("#bs").append('<button type="button" onclick="delImg()" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon"></i></button>');
      layer.closeAll('loading'); //关闭loading
    }
    ,error: function(){
      //演示失败状态，并实现重传
      var demoText = $('#demoText');
      demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
      demoText.find('.demo-reload').on('click', function(){
        uploadInst.upload();
      });
    }
  });   
});
function delImg(){
    layer.load(); //上传loading
  var picurl = $("#avatar").val();
  $.ajax({
    url:"{:url('Upload/delImg')}",
    type:"post",
    data:{picurl:picurl},
    success(e){
        if(e.code>0){
            $('#demo1').attr("src","")
            $("#avatar").attr("value","404")
            $("#bs").html("")
            layer.closeAll('loading'); //关闭loading
            layer.msg(e.msg);
        }else{
            layer.closeAll('loading'); //关闭loading
            layer.msg(e.msg);
        }
    }
  })
}  
</script>
<script>
$(function(){
  var desc = $("#demo1").attr("src");
  if(desc){
    $("#bs").append('<button type="button" onclick="delImgs()" class="layui-btn layui-btn-normal layui-btn-sm"><i class="layui-icon"></i></button>');
  }
})
function delImgs(){
  var desc = $("#demo1").attr("src");
  layer.load(); //上传loading
  $.ajax({
    url:"{:url('Upload/delImg')}",
    type:"post",
    data:{picurl:desc},
    success(e){
      if(e.code>0){
          $('#demo1').attr("src","")
          $("#avatar").attr("value","404")
          $("#bs").html("")
          layer.closeAll('loading'); //关闭loading
          layer.msg(e.msg);
        }else{
          layer.closeAll('loading'); //关闭loading
          layer.msg(e.msg);
        }
    }
  })
}  
</script>
<script>
layui.use('laydate', function(){
  var laydate = layui.laydate;
  //日期时间选择器
  laydate.render({
    elem: '#test5'
    ,type: 'datetime'
  });
  //开启公历节日
  laydate.render({
    elem: '#test17'
    ,calendar: true
  });
});
</script>
{/block}